@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items from the top */
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    color: #000;
    margin: 0;
    padding: 250px;
    font-family: 'Comfortaa', sans-serif;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 20px 0 40px;
    color: #000000;
    font-size: 2.2rem;
    font-weight: 700;
}

label {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-size: 1.3rem;
}

input {
    font-size: 0.9rem;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}

button {
    display: block; /* Make button a block element */
    margin: 10px; /* Center it horizontally */
    width: 100%; /* Keep full width */
    padding: 10px;
    background-color: #006adb;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.view-tasks-container {
    text-align: center; /* Center the content */
    margin-top: 20px; /* Add space above */
}

.view-tasks-button {
    display: inline-block; /* Keep it a block element for padding */
    padding: 10px 15px; /* Add padding */
    color: blue; /* Blue text color */
    text-decoration: underline; /* Underlined text */
    font-size: 16px; /* Match font size */
    font-weight: 500; /* Match font weight */
}

.view-tasks-button:hover {
    color: darkblue; /* Darker blue on hover */
}


button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

h1.dark-mode {
    color: #dadada;
}

label.dark-mode {
    color: #dadada;
}

input.dark-mode {
    background-color: #2b2b2b;
    color: #dadada;
    border: 1px solid #646464;
}

button.dark-mode {
    background-color: #2d53ff;
}

button.dark-mode:hover {
    background-color: #0400ff;
}
